PORT=5000
MONGO_URI=mongodb://MohanReddy:MohanReddy2026Secure@ac-ajd425q-shard-00-00.gctlkf4.mongodb.net:27017,ac-ajd425q-shard-00-01.gctlkf4.mongodb.net:27017,ac-ajd425q-shard-00-02.gctlkf4.mongodb.net:27017/restaurantDB?ssl=true&replicaSet=atlas-5vso64-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=mysecret
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
